path.link {
  fill: none;
  stroke: #222;
  stroke-width: 1.5px;
}

circle.why {
  fill: orange;
  stroke: red;
  stroke-width: 4px;
}

circle.who {
  fill: yellow;
  stroke: orange;
  stroke-width: 4px;
}
